body{
  height: 50%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

.bg-image {
  /* Full height */
  height: 50%;
}

/* Images used */
.img1 { background-image: url("../img/alan-caishan-cU53ZFBr3lk-unsplash.jpg");
}
.img2 { background-image: url("../img/ale-romo-CLiwQXx7kT8-unsplash.jpg"); }
.img3 { background-image: url("../img/katherine-hanlon-g4Mq7w4ioXY-unsplash.jpg"); }
.img4 { background-image: url("../img/toa-heftiba-a9pFSC8dTlo-unsplash.jpg"); }

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-size: 80px;
  border: 10px solid #f1f1f1;
  position: fixed; /* Stay fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 300px;
  padding: 20px;
  text-align: center;
  
}